@import '../../theme/variables';

.timeline {
  $lineColor: rgba(200, 200, 200, 0.7);

  transition: background-image;
  transition-duration: 1000ms;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: move;

  background-color: #0353a3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  .timelinePin {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    margin-left: -$pinSizeCollapsed / 2;
    margin-top: -$pinSizeCollapsed / 2;

    .thumbnail {
      transition: width, height, border, border-radius;
      transition-duration: 300ms;
      overflow: hidden;
      width: $pinSizeCollapsed;
      height: $pinSizeCollapsed;
      border: 4px $lineColor solid;
      border-radius: $pinSizeCollapsed / 2;

      background-size: cover;
      background-position: 50% 50%;

      @function grayscale($value) {
        @return #{"grayscale(" + $value + ")"};
      }
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    .pinDetail {
      transition: width;
      transition-duration: 300ms;
      margin-top: 1vh;
      position: absolute;
      width: 30vh;
      left: 50%;
      transform: translateX(-50%);
      padding: 1vh;
      background-color: rgba(0, 0, 0, 0.3);

      .date {
        font-weight: bold;
        color: #fff;
        font-size: 2vh;
        text-align: center;
      }

      .title {
        font-weight: bold;
        color: #fff;
        font-size: 2vh;
        text-align: center;
      }
    }

    &.expand {
      margin-left: -$pinSizeExpanded / 2;
      margin-top: -$pinSizeExpanded / 2;

      .thumbnail {
        width: $pinSizeExpanded;
        height: $pinSizeExpanded;
        border: 8px $lineColor solid;
        border-radius: $pinSizeExpanded / 2;

        -webkit-filter: none;
        filter: none;
      }
      .pinDetail {
        width: 60vh;
        padding: 2vh;

        .date {
          font-size: 4vh;
        }
        .title {
          font-size: 3vh;
        }
      }
    }
  }

  .timelineLine {
    position: absolute;
    div {
      display: inline-block;
      position: absolute;
      width: 1vh;
      height: 1vh;
      border-radius: 0.5vh;
      background-color: $lineColor;
    }
  }
}
