.app {
  width: 100%;
  height: 100%;

  .brand {
    position: absolute;
    $size: 40px;
    top: 5px;
    left: 5px;
    display: inline-block;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
  }
}
.appContent {
  width: 100%;
  height: 100%;
}
